{% extends 'habits/base.html' %}

{% block content %}
<h1>My Habits</h1>
<a href="{% url 'habits:habit-create' %}">Add a new habit</a>
<ul>
    {% for habit in habits %}
    <li>
        <strong>{{ habit.name }}</strong> ({{ habit.get_duration_display }}) - <em>Tag: {{ habit.get_tag_display }}</em>
        <p>{{ habit.description|default:"No description" }}</p>
        <p>Current Streak: {{ habit.get_current_streak }} day(s)</p>
        {% if not habit.is_completed_today %}
        <form action="{% url 'habits:complete-habit' habit.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Complete for today</button>
        </form>
        {% else %}
        <p>Completed today!</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
